body {
  background-color: #f2f2f4;
}

.navbar {
  display: flex;
  border-bottom: 1px solid gray;
}

.logo {
  width: 100px;
}

.navbar-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 0;
}

.nav-item {
  list-style: none;
  color: black;
}
